asm/
assets/
build/
expected/
nonmatchings/
.vscode/
myenv/
ctx.c
.ninja_log
.splache
baserom.us.z64
build.ninja
quest64.d
quest64.ld
permuter_settings.toml
undefined_syms_auto.txt
.ninja_deps
__pycache__/
finddl.py
models.txt
other_dls.txt
